<!doctype html>
<html lang="en">
  <head>
    <%- include("./components/header.ejs")%>
  </head>
  <body>
    <div id="blurnavbar">
      <!-- Topbar Content -->
      <%- include("./components/topbar.ejs")%>
      <!-- Topbar Content End -->
    </div>
    
    <div class="wrapper">

        <!-- Sidebar Content -->
        <%- include("./components/sidebar.ejs")%>
        <!-- Sidebar Content End -->

        <!-- Page Content -->
        <div id="content">

          <!-- Main Content -->
          <%- include("./pages/masterpos/masterpos.ejs")%>
          <!-- Main Content End -->
          
          </div>
    </div>
    <!-- Optional JavaScript -->
    <%- include("./components/scripts.ejs")%>
    <!-- Optional JavaScript -->
    <%- include("./pages/masterpos/masterposscripts.ejs")%>
       
</body>
</html>